

<div class="container">
  <div class="column-left m-5">
    <h3>Señor Cocktail</h3>
    <%= link_to 'New cocktail', new_cocktail_path, class: "btn btn-dark btn-sm btn-block" %>
  </div>
  <div class="container-drinks">
    <div class="card-container">
      <% @cocktails.each do |cocktail| %>
        <div class="card">
            <img src="https://source.unsplash.com/random/250x350">
            <h4><%= cocktail.name %></h4>
            <%= link_to 'View', cocktail %>
        </div>
      <% end %>
    </div>
  </div>
</div>
