$old-rose: #6689A1;
$ivory: #FBFFF1;

.container-show {
  display: flex;
  flex-direction: column;
  height: 500px;
  justify-content: center;
  width: 80%;
  margin: 200px auto;
  border-radius: 1px;
  background: $old-rose;
  box-shadow:  14px 14px 0px #3d5261,
             -14px -14px 0px #8fc0e1;
    h1 {
      font-family: 'Teko', serif;
      font-size: 70px;
    }

    h3 {
      font-family: 'Oswald', sans-serif;
      font-weight: 400;
      color: $ivory
    }

    a {
      text-decoration: none;
    }
}

