$old-rose: #6689A1;
$ivory: #FBFFF1;

.container {
  display: flex;
  justify-content: space-between;
  height: 850px;
  margin: 100px auto;
  padding: 0;
  border-radius: 1px;
  background: $old-rose;
  box-shadow:  14px 14px 0px #3d5261,
             -14px -14px 0px #8fc0e1;
    h1 {
      font-family: 'Teko', serif;
      font-size: 80px;
      text-shadow: 2px 4px #3d5261;
    }

    a {
      text-decoration: none;
    }
}
