// Place all the styles related to the Cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

$old-rose: #6689A1;
$ivory: #FBFFF1;
$btn-danger: #E8524A;
$btn-view: #63E3B0;

#show-image {
  width: 100%;
  height: 300px;
}



.column-left {
  color: $ivory;
  display: flex;
  flex-direction: column;
  height: 90%;
    .container-nav {
      margin: 16px;
    }
  overflow-y: scroll;
}

.column-right {
  display: flex;
  justify-content: center;
  align-items: center;
  img {

    width: 350px;
    border-radius: 4px;
    box-shadow:  14px 14px 97px #486172,
             -7px -7px 50px #84b1d0;
  }
}

.container-doses {
  padding: 8px;
  margin: 5px 0;
  border: 1px solid white;
  display: flex;
  justify-content: space-around;
  align-items: center;
    a {
      text-decoration: none;
    }
}

.btn {
  width: 150px;
  border-radius: 0px;
}

.btn-sm {
  border-radius: 0px;
}

.btn-info {
  background-color: $btn-view;
}

.btn-view {
  background-color: $btn-view;
  color: $ivory;
  &:hover {
      background-color: #63E3B0;
      color: $ivory;
    }
}

.btn-default {
  background-color: #08415C;
  color: $ivory;
    &:hover {
      background-color: #0A5071;
      color: $ivory;
    }
}

.btn-search {
  background-color: #5C67FF;
  color: $ivory;
    &:hover {
      background-color: #4754FF;
      color: $ivory;
    }
}

.btn-danger {
  background-color: $btn-danger;
}

.card-container {
  width: 100%;
  overflow: scroll;
  background-color: #E1E8F4;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 1px;
    img {
      width: 100%;
      // width: 740px;
      height: 500px;
      // margin-left: 52px;
      overflow: hidden;
      border-radius: 1px;
      margin-top: 16px;
      margin-bottom: 40px;
      box-shadow:  5px 5px 0px #bebebe,
             -5px -5px 0px #ffffff;
      object-fit: cover;
    }
}

.card-cocktail {
  display: flex;
  flex-direction: column;
  width: 350px;
  margin: 16px 40px 40px 0;
  border-radius: 1px;
  border: none;
  padding: 8px;
  background: #E1E8F4;
  box-shadow:  5px 5px 0px #a9aeb7,
             -5px -5px 0px #ffffff;
    h4 {
      margin: 8px;
      font-size: 28px;
      font-family: 'Oswald', sans-serif;
      font-weight: 400;
      color: #3D405B;
      text-shadow: 2px 2px $ivory;
    }

    a {
      margin: 8px 5px;
    }
}

// For show page with large card

.card-img-top {
  height: 400px;
  object-fit: cover;
}






